{% extends 'base.html' %}
{% load static %}

{% block body %}

<span class="hide"> {% csrf_token %}</span>
<div class="container-fluid">
    
    <div class="row">
        <div class="col">
            {% if unused_list.count < 5 %} <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">帐号稀缺</h4>
                <p>剩余未使用帐号只剩下了 <strong>{{ unused_list.count }}</strong> 个了，需要补充</p>
        </div>
        {% endif %}

        <table id='account_table' data-url="{% url 'mysite:account_json' %}">
            <thead class="thead-inverse table-primary"></thead>
        </table>

        <table class="table table-striped table-responsive-lg">
            <thead class="thead-inverse thead-dark">
                <tr>
                    <th>序号</th>
                    {% for title in thead_list %}
                    <th>{{ title }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for account in contacts.object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ account.apple_account }}</td>
                    <td>{{ account.game_name }}</td>
                    <td>{{ account.vpn_name }}</td>
                    <td>{{ account.get_account_type_display }}</td>
                    <td>{{ account.use_device }}</td>
                    <td>{{ account.upload_date }}</td>
                    <td>{{ account.get_parse_type_display }}</td>

                    {% if account.small_game == 1 %}
                    <td>是</td>
                    {% else %}
                    <td>否</td>
                    {% endif %}

                    <td>{{ account.get_status_display }}</td>
                    <td>{{ account.user.username }}</td>
                    <td><button type="button" name="change{{ account.id }}" id="change{{ account.id }}" class="btn btn-primary btn-sm disabled">修改状态</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock body %}

{% block bodyfooter %}
<script src="{% static 'mysite/js/index.js' %}?t={{ timestep }}"></script>
{% endblock %}