{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% if unused_list.count < 5 %} <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">帐号稀缺</h4>
                <p>剩余未使用帐号只剩下了 <strong>{{ unused_list.count }}</strong> 个了，需要补充</p>
        </div>
        {% endif %}
        <table class="table table-striped table-responsive-lg">
            <thead class="thead-inverse thead-dark">
                <tr>
                    <th>序号</th>
                    {% for title in thead_list %}
                    <th>{{ title }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for account in account_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ account.apple_account }}</td>
                    <td>{{ account.game_name }}</td>
                    <td>{{ account.vpn_name }}</td>
                    <td>{{ account.get_account_type_display }}</td>
                    <td>{{ account.use_device }}</td>
                    <td>{{ account.upload_date }}</td>
                    <td>{{ account.get_parse_type_display }}</td>

                    {% if account.small_game == 1 %}
                    <td>是</td>
                    {% else %}
                    <td>否</td>
                    {% endif %}

                    <td>{{ account.get_status_display }}</td>
                    <td>{{ account.user.username }}</td>
                    <td><button type="button" name="change{{ account.id }}" id="change{{ account.id }}" class="btn btn-primary btn-lg btn-block">修改状态</button></td>
                </tr>
                {% endfor %}
                <tr>
                    {% if contacts.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ contacts.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                    </span>

                    {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">next</a>
                    <a href="?page={{ contacts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock body %}